<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ClientId</key>
	<string>JUGn9he2IE9H2HbF0i45tJzS8c9H9cPk</string>
	<key>Domain</key>
	<string>dev-nwox0fjh13gaqjyl.us.auth0.com</string>
</dict>
</plist>
