<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ClientId</key>
	<string>55oFSEBY4sqlP1aJy2LKJoACOtQKMQzL</string>
	<key>Domain</key>
	<string>dev-1pr7y14mi2pk6cpr.us.auth0.com</string>
</dict>
</plist>
